body {
            background-image: url(images/clouds-sky.bmp);;
            font-size: 0.8em;
            margin: 0px;
        }

        nav, section, article {
            margin: 0px;
            padding: 8px;
        }

        header, footer {
            background-color: #328db5;
            color: white;
            margin: 0px;
            padding: 5px;
            padding-left:16px;
           

        }

      nav ul {
            margin: 0;
            padding: 0;
        }

      nav ul li {
          display: inline;
          margin: 5px;
      }
            
      p {
          color: grey;
      }

      .bar{
          margin: 0px;
          padding: 0px;
          width: 100%;
          hieght: 32px;
          background-color: rgba(250,250,250,0.4);
          border-radius: 20px;
      }
